*{
    padding: 0;
    margin: 0;
}

.container {
    background-color: aqua;
    padding: 3rem;
    display:flex;
    justify-content: space-between;
    font-size:20px;
}
.ul{
    background-color: #a46969;
}

.Logo {
    background-color: rgb(250, 67, 67);
    
    
}

.tab {
    background-color: aliceblue;

    
}

ul{


display:flex;
width: 300px;
justify-content: space-between;
}

li {
    list-style-type:none;
}
.Contact{
 background-color: rgb(248, 186, 0)
}

.RCon {
 background-color: #c67070;
 display:flex;
 height: 600px;
 margin-top:1rem;
 margin:10px;
 padding: 1rem;
 justify-content: center;
 align-items: center;
    
}

.header {
background-color: #791d1d;
width:520px;
height: 500px;
justify-content: space-around;
display:flex;
align-items: center;

}

.header>div{
font-size: 40px;
}

.last,.lasts{
    background-color: antiquewhite;
    width: 450px;
    height: 400px;  
}

.lasts {
    margin-right: 25px;
}

.last{
    margin-left: 25px;
}
.taber,.tabers{
    margin-left: 30px;
    margin-top: 30px;
   
}   








